
body{
  background-image: url("SPACEbackground.gif");
  background-size: cover;
}
.descriptionContainer
{
  background-color:rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 2vw;
}
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.descriptionElement
{
  color: yellow;
}
.descriptionValue
{
  color: red;
}
.underDescriptionElement
{
  color: orange;
}
.descriptionImage
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}